@keyframes travel {
	0% {
	  background-position: 0 0;
	}
	100% {
	  background-position: -2000px 0;
	}
  }
  
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-image: url('https://www.travelers.com/iw-images/resources/Individuals/Large/home/safety/6TipsForTravelingAlone_Large(0).jpg');
	background-size: contain;
	background-position: center;
	animation: travel 60s linear infinite;
  }
  
  .site-header {
	margin-block-start: 15px;
	text-align: center;
	font-size: 48px;
	font-weight: bold;
	color: #000;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
	padding: 14px;
	text-transform: uppercase;
	letter-spacing: 4px;
	margin: 0;
  }
  
  
  
  form {
	max-width: 750px;
	margin: auto;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	text-align: left;
  }
  
  select {
	font-size: 1.2rem;
	padding: 0.5rem;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 100%;
	margin-bottom: 1rem;
  }
  
  /* Style the select options */
  option {
	font-size: 1rem;
	padding: 0.5rem;
  }

  label {
	display: block;
	margin-bottom: 10px;
  }

  input {
	text-align: left;
  }

  .about-us-paragraph {
	margin: auto;
	max-width: 1000px;
	background-color: #332f2f6a;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	font-size: x-large;
	line-height: 1.5;
	text-align: justify;
	align-content: center;
	text-align: -webkit-center;
	color: white;
  }
  
  input[type="text"],
  input[type="date"],
  input[type="number"] {
	display: block;
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: none;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  button[type="submit"] {
	display: block;
	margin: auto;
	padding: 12px 30px;
	background-color: #354F52;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
  }


  #about-us-button, #home-page-button {
	background-color: white;
	color: black; /* or any other text color you prefer */
	padding: 5px 20px;
	border-radius: 5px;
	font-size: 16px;
	margin-top: 5px;
  }
  
  #results {
	max-width: 600px;
	margin: 30px auto;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	display: none;
  }
  
  #results h2 {
	margin-top: 0;
  }

  .container {
	max-width: 960px;
	margin: 0 auto;
	padding: 20px;
  }
  
  .header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #ffffff;
	padding: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .header h1 {
	margin: 0;
  }

  main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 2rem;
  }
  
  .trip-card {
	background-color: #f2f2f2;
	border-radius: 30px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	margin: 1rem;
	overflow: hidden;
	width: 300px;
  }
  
  .trip-card img {
	display: block;
	height: 200px;
	object-fit: cover;
	width: 100%;
  }
  
  .trip-card h2 {
	font-size: 1.5rem;
	margin: 1rem;
	text-align: center;
  }
  
  .trip-card p {
	font-size: 1rem;
	margin: 0 1rem 1rem 1rem;
	text-align: center;
  }
  
  .card {
	background-color: #ffffff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	margin: 20px 0;
  }
  
  .card img {
	width: 100%;
	height: auto;
  }
  
  .card-body {
	padding: 20px;
  }
  
  .card-body h2 {
	margin: 0;
	font-size: 24px;
  }
  
  .card-body p {
	margin: 10px 0;
	line-height: 1.5;
  }
  
  .btn {
	padding: 10px 20px;
	background-color: #0099ff;
	color: #ffffff;
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.2s ease;
	display: block;
    text-align: center;
  }
  
  .btn:hover {
	background-color: #0077cc;
  }
  
  trip {
	padding: 20px;
  }
  
  ul {
	margin-top: 5px;
	margin-bottom: 15px;
	list-style: none;
	padding: 0;
  }
  
  li {
	margin-top: 5px;
  }
  
  .loading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: x-large;
  }
  
  .spinner {
	border: 4px solid rgba(0, 0, 0, 0.1);
	border-left-color: #3498db;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
	to {
	  transform: rotate(360deg);
	}
  }

  footer {
	background-color: #ffffffd1;
	padding: 4px 0;
	position: relative; /* added */
  }
  
  footer img {
	position: absolute; /* added */
	right: 20%; /* added */
	top: 50%; /* added */
	transform: translateY(-50%); /* added */
	max-height: 200px; /* adjust to your image size */
  }
  
  footer h3 {
	margin-bottom: 20px;
	color: #333;
  }
  
  footer p {
	margin-bottom: 10px;
	font-size: 16px;
	color: #555;
  }
  
  footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  footer ul li {
	margin-bottom: 10px;
  }
  
  footer ul li a {
	color: #555;
	text-decoration: none;
  }
  
  footer ul li a:hover {
	color: #333;
  }
  
  .social-media li {
	display: inline-block;
	margin-right: 10px;
  }
  
  .social-media li a {
	color: #555;
  }
  
  .social-media li a:hover {
	color: #333;
  }
  
  footer p.text-center {
	margin-top: 20px;
	font-size: 14px;
	color: #555;
  }
  
  .rank {
    font-size: 24px;
	background-color: #0099ff;
	border-radius: 15px;
  }
  .rank i {
    color: #FFD700; /* Sets the star color to gold */
  }
  
  /* Style the navigation bar */
.navbar {
	display: -webkit-box;
    justify-content: space-between;
	background-color: #ffffff66;
	-webkit-box-align: center;
	margin-bottom: 20px;
  }
  
  /* Navbar links */
  .navbar a {
	padding: 12px;
	color: #000;
	text-decoration: none;
	font-size: 17px;
	margin-top: 20px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
	background-color: #04AA6D;
	border-radius: 10px;
	
  }

  /* Styles for desktop */
@media (min-width: 768px) {
	#menuDiv {
	  margin-left: auto;
	}
  }

  /* Mobile styles */
@media (max-width: 767px) {
	/* Navbar container */
	.navbar {
	  flex-wrap: wrap;
	  align-items:flex-start;
	  justify-content: space-between;
	  background-color: #354F52;
	  padding: 10px;
	}
	
	/* Navbar links */
	.navbar a {
	  display: block;
	  padding: 8px;
	  color: white;
	  text-decoration: none;
	  font-size: 16px;
	  margin: 5px;
	  border-radius: 5px;
	}
	
	/* Navbar links on mouse-over */
	.navbar a:hover {
	  background-color: #000;
	}
  }
  
  /* Current/active navbar link */
  .active {
	border-radius: 10px;
	background-color: #04AA6D;
  }
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
	.navbar a {
	  float: none;
	  display: block;
	}
  }

  .welcome-title {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #007bff;
    text-shadow: 2px 2px 5px #F5F5F5;
    margin-bottom: 20px;
	margin-top: auto;
	text-transform: uppercase;
  }

  table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 1rem;
	font-size: smaller;
	text-align: center;
  }
  
  th,
  td {
	text-align: center;
	padding: 0.5rem;
	border-bottom: 1px solid #dee2e6;
  }
  
  th {
	background-color: #f8f9fa;
	font-weight: bold;
  }
  
  tr:hover {
	background-color: #f5f5f5;
  }
  
  a {
	color: #007bff;
	text-decoration: none;
  }
  
  button {
	color: #fff;
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	font-size: 1rem;
	cursor: pointer;
  }

  